<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">

                @*<img src="~/Images/Images/Fashion.png" style="width:40px;height:40px;border-radius:5px;" />*@
                @Html.ActionLink("Work_1", "Index", "Home", new { }, new { @class = "navbar-brand" })
            </a>
           
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>
                        @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid">
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        $("#btnPlus").click(function (e) {
            e.preventDefault(); var prodCntr = $("#productContainer");
            $.ajax({
                url: "/Customers/AddNewProduct",
                type: "GET",
                success: function (data) {
                    prodCntr.append(data);
                }
            });
        });
        $(document).on("click", ".btnDelete", function (e) {
            e.preventDefault(); $(this).closest('.product-row').remove();
        });
    </script>
</body>
</html>
