@model IEnumerable<work_1.Models.Product>

@{
    ViewBag.Title = "Index";
}


<h2 class="display-4">Product List</h2>

<p class="d-flex justify-content-end">
    <a href="@Url.Action("Create", "Products")" class="btn btn-primary btn-sm">Add New Product</a>
</p>

<table class="table table-bordered table-striped table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductsName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Products", new { id = item.ProductsId })" class="btn btn-success btn-sm">Edit</a>

                <a href="@Url.Action("Delete", "Products", new { id = item.ProductsId })" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
</table>